.logo
{
    height: 70px;
    width: 70px;
}

.brandtext
{
    color: rgb(70, 205, 172);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 1em;

}
.brandtext:hover
{
    color: rgb(70, 205, 172);
}